{% extends "base.html" %}
{% block header %}
<h1><a href="#title">The Billinge Group at Columbia University in the City of New York</a></h1>
<img src="{{static}}/20151103_173027.png" style="max-width:100%;"/><br/><br/>
{% endblock header %}
{% block content %}
<a name="about" />

<hr/><a name="pubs" />
<h1><a href="#pubs">Publications</a></h1>
{%if bibfile%}<p><a href="{{p['_id']}}.bib">[Download bibtex]</a></p>{%endif%}
<pubs>
<ol>
{% for pub in pubs %}
  <li>
  {%  set ae = pub.get('author', pub.get('editor', [])) %}
  {% for a in ae[:-1] %}
    {% if a in names %}<b>{% endif %}{{a}}{% if a in names %}</b>{% endif %},
  {% endfor %}
  {% if len(ae) > 1 %}
    and
  {% endif %}
  {% set a = ae[-1] %}
  {% if a in names %}<b>{% endif %}{{a}}{% if a in names %}</b>{% endif %}.
  <i>"{{pub.get('title', '')}}".</i>
  {{pub.get('version', '')}}
  {{pub.get('journal', '')}}
  {{pub.get('booktitle', '')}}.
  {{pub.get('volume', '')}}
  {{'p. ' + pub['pages'] if 'pages' in pub else ''}}
  {{pub.get('address', '')}}
  {% if 'month' in pub and 'year' in pub %}
    {{pub['month'].capitalize()}} {{pub['year']}}
  {% elif 'year' in pub %}
    ({{pub['year']}})
  {% endif %}
  {% if 'link' in pub %}<a href="{{pub['link']}}">link</a>{% endif %}
  {% if 'url' in pub %}<a href="{{pub['url']}}">download</a>{% endif %}
  {% if 'doi' in pub %}<a href="{{pub['doi']}}">doi</a>{% endif %}
  </li>
{% endfor %}
</ol>
</pubs>


<h1><a href="#about">About Us</a></h1>
<p>Our group focuses on developing methodologies for solving the &#8216;<a href="http://slapper.apam.columbia.edu/bib/papers/billinge_07_science.pdf">nanostructure problem</a>&#8216;: determining the structure of materials at the atomic scale to help understand structure-synthesis-property relationships in complex and functional materials . We develop and utilize experimental procedures at high flux x-ray and neutron producing facilities coupled with software and workflow solutions for complex modeling and high throughput structural analysis, solution, and prediction at the nanoscale. We apply these tools toward amorphous and nanostructured pharmaceuticals and molecular materials,  nanoscale fluctuations in exotic electronic materials, nanostructured materials for energy and environmental remediation, among many other topics.</p>

<iframe width="560" height="315" src="https://www.youtube.com/embed/ojZ5wJSq81g" frameborder="0" allowfullscreen></iframe>


<a name="news" />
<h1><a href="#news">News</a></h1>
{% include 'news.html' %}

<a name="projects" />
<h1><a href="#projects">Projects</a></h1>
The Billinge Group is involved in a large number of computational and experimental projects. Please visit the
<a href="projects.html">projects page</a> for more information!
<br/><br/>

<a name="who" />
<h1><a href="#who">Who are we?</a></h1><br/>
{% for p in people if p.get('active', True) %}
  <a href="{{root}}/people/{{p['_id']}}.html" class="image-link">
    <img src="{{p.get('avatar')}}" style="width:100px;height:100px;"/>
  </a>
  <h3><a href="{{root}}/people/{{p['_id']}}.html">{{p['title']}} {{p['name']}}</a></h3>
  <ul>
    <li><b>Position:</b> {{p['position'].capitalize()}}</li>
  </ul>
{% endfor %}


<a name="join" />
<h1><a href="#join">Join Us</a></h1>
Join the Billinge Group by checking out the open positions on our
<a href="jobs/index.html">jobs page</a> or see if you are interested in any of 
the following!
{% include 'jobs_open.html' %}

{% endblock content %}
{% block footer %}
Feel free to contact the Billinge Group by emailing <b>sb2896</b> <i>(AT)</i> <b>columbia.edu</b>.
{% endblock footer %}
